.tableau-style{
  border-collapse:collapse ;
  min-width:400px ;
  width: auto;
  box-shadow: 0 5px 50px rgba(0,0,0,0) ;
  cursor: pointer;
  margin: 100px auto ;
  border: 1px solid #ddd;
}

  tbody tr,td,th{
    border: 1px solid #ddd;
  }
  tbody tr:nth-child(even){
    background-color: #f3f3f3;
  }
  tbody tr:last-of-type{
    border-bottom: 2px solid midnightblue; 
  }


.admis{
  background-color: green;
}
.redouble{
  background-color: red;
}
.emjambement{
  background-color: gold;
}
 